.footer {
  text-align: center;
  font-size: 14px;
  color: rgb(255, 255, 255, 0.5);
}

.openSourceCode {
  color: rgb(255, 255, 255, 0.5);
}

.openSourceCode:hover {
  color: #fce5e5;
  font-weight: 700;
}
