.Form .search-form {
  border-radius: 6px;
  border: 1px rgb(218, 221, 225, 0.5) solid;
  background-color: rgb(255, 255, 255, 0.6);
  box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.1);
  padding: 3px;
}

.Form .search-form:focus {
  border: 1px #998ce4 solid;
  outline: none;
}

.Form .search-form::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
